@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  padding: 0;
  border: 0;
  font-family: "Pacifico", cursive;
  text-align: center;
}

/*html {
    height: 1px;
}*/

body {
  height: 1px;
  background: linear-gradient(90deg, #ff1f4b 0%, #3b5bff 100%);
}

header {
  display: flex;
  flex-direction: column;
  font-size: 35pt;
  background: -webkit-linear-gradient(left, #7bff00, #ff1f4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3pc;
}

h1 {
  margin: 10px;
}

header button {
  align-self: center;
  cursor: pointer;
  background-color: transparent;
}

button img {
  align-self: center;
  border-radius: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(41, 41, 41);
  transition: 0.05s ease-in-out;
}

button img:hover {
  width: 205px;
  height: 205px;
  transition: 0.05s ease-in-out;
}

button img:active {
  width: 199px;
  height: 199px;
  transition: 0.05s ease-in-out;
}

#players {
  display: flex;
  justify-content: space-evenly;
}

#p1,
#p2 {
  width: 100pc;
  border-style: solid;
  border-width: 5px;
  border-radius: 4pc;
  padding: 0px;
}

#p1 {
  border-color: #3b5bff;
  background-color: #3b5bff90;
  margin-right: 20px;
  margin-left: 20px;
}

#p2 {
  border-color: #ff1f4b;
  background-color: #ff1f4b30;
  margin-left: 20px;
  margin-right: 20px;
}

#p1 *,
#p2 * {
  margin: 3pc;
}

h2 {
  font-size: 5pc;
}

#p1 h2,
#p1 h3 {
  color: #3b5bff;
}

#p2 h2,
#p2 h3 {
  color: #ff1f4b;
}

#p1-score,
#p2-score {
  font-size: 8pc;
}

h3 {
  font-size: 3pc;
}

#pt-btn {
  border-width: 5px;
  border-radius: 20px;
  position: absolute;
  padding: 10px;
  font-size: 3pc;
  color: #ffffff;
  padding: 1pc;
  width: 275px;
  cursor: pointer;
  background-image: linear-gradient(90deg, #3b5bff, #ff1f4b);
  margin-top: 21pc;
}

#pt-btn:hover {
  background-image: linear-gradient(90deg, #ff1f4b, #3b5bff);
}
